@{
    ViewData["Title"] = "Career";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Career</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Career</li>
                </ol>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-9">
                    <div class="employee-right">
                        <a href='#oppor' class='text-secondary'>Opportunities in EasyWayAutomation</a>
                        <br />
                        <a href='#flexi' class='text-secondary'>A Flexible Partnership</a>
                        <br />
                        <a href='#benefit' class='text-secondary'>Benefits</a>
                        <br />
                        <br />
                        <span id='oppor'>Opportunities in EasyWayAutomation</span>
                        <p class='m-0'>
                            Are you a leader in the consulting field? EasyWay Automation is on the lookout for talented individuals
                            worldwide, including technologists, industry specialists, process experts, and business strategists. Join us in turning
                            innovative ideas into successful solutions that bring value to our clients.
                        </p>
                        <br />
                        <p class='m-0'>
                            Permanent Positions with Diverse Skill Sets:

                            We have exciting permanent positions available for candidates with strong skills in one or more
                            of the following areas:
                        </p>
                        <br />
                        <ul style={{color:'#6D6D6D'}}>
                            <li>Java, WindowNT</li>
                            <li>J2EE, XML, JSP</li>
                            <li>WinRunner, QTP, LoadRunner, Rational</li>
                            <li>Powerbuilder, Informix, Informatica, Sybase, DB2/SQL Server</li>
                            <li>VB, C, C++, HTML</li>
                            <li>Unix Admin, Mainframe/RPG, Internet Architecture</li>
                            <li>PPLsoft, PPLTools, SQR, PPLcode, Oracle</li>
                        </ul>
                        <br />
                        <p class='m-0'>
                            Various Roles Available: We offer a range of positions, including Software Engineers, Programmer/Sys Analysts,
                            QA Engineers, Sales
                            Engineers, Business Analysts, Lead Analysts, Project Managers/Leaders, Market Research
                            Analysts, and Technical Recruiters. These full-time positions are available at both our offices and client
                            sites. You may have the opportunity to travel or relocate to different client locations across the US for
                            short-term or long-term projects.
                        </p>
                        <br />
                        <span id='flexi'>A Flexible Partnership</span>
                        <p class='m-0 '>
                            We believe in a flexible partnership between each employee and the company. Your career growth is
                            essential to us, and we provide the support and direction you need to achieve your goals. Enjoy the freedom to develop
                            your career at your own pace, without the bureaucracy of larger firms. We value well-rounded
                            employees and empower you to embrace diverse experiences and focus on specific talents and interests.
                            With mentoring, training, and performance reviews, we offer the framework for your success.
                        </p>
                        <br />
                        <span id='benefit'>Quality Benefits and Compensation:</span>
                        <p>
                            We care about your well-being and offer a competitive compensation program, including performance-related
                            bonuses and locally competitive benefits. Before engagement, we conduct a careful skills and experience review to ensure
                            you can make an immediate impact on the project. Only consultants who exceed our standards are engaged at EasyWay
                            Automation client sites.
                        </p>
                        <span id='benefit'>Equal Opportunity Employment:</span>
                        <p>
                            EasyWay Automation believes in Equal Opportunity Employment, and we welcome diverse
                            individuals to join
                            our team.
                        </p>
                        <span>Ready to Take the Next Step?</span>
                        <p>
                            If you're ready for an exciting and fulfilling career in the IT consulting industry, submit your resume
                            to us at:
                            EasyWay Automation
                            1111 Gallows Rd., Ste F
                            Dunn Loring, VA 111111

                            Join EasyWay Automation. and embark on a journey of growth, innovation, and empowerment. Your future
                            awaits!
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 pt-4 pt-lg-0">
                    <div class="employee-left ms-5 pe-2 ">
                        <div class="left-heading mb-3 text-center">
                            <button class="btn btn-outline-primary">Current Opening</button>
                        </div>
                        <div class='line'></div>
                        <div class='side-box ms-4'>

                            <h6>Best in Industry Pay Package includes:</h6>
                            <img src='~/assets/img/line.png' alt='line mark' class='img-fluid' />
                            <ul style={{ listStyleType: 'none' }}>
                                <li>1. Health Insurance through Carefirst BCBS</li>
                                <li>2. Dental Insurance through Humana Dental</li>
                                <li>3. Vision Coverage through Avesis</li>
                                <li>4. Life Insurance through Hartford</li>
                                <li>5. <Link to='#' class='text-secondary'>Credit Union Facilities through Apple Federal Credit Union</Link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->


</main><!-- End #main -->
