
@{
    ViewData["Title"] = "Specialties";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Specialties</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Specialties</li>
                </ol>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class=" row flex-md-row-reverse  d-flex align-items-md-center ">

                <div class="col-lg-3 h-auto ms-auto">
                    <img src="~/assets/img/Industry.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-9 pt-4 pt-lg-0">
                    <span class='quality'>? Quality Assurance As A Service (QAaaS)</span>
                    <br />
                    <p class='ms-3 mb-0'>
                        » Testing Strategy Implementation
                    </p>
                    <p class='ms-5 m-0'>
                        QA Methodology & Processes
                        <br />
                        Automation Strategy & Framework
                    </p>

                    <p class='m-0 ms-3'>» Test Environment Management</p>
                    <p class='ms-5 m-0'>
                        Creation and Management of Test-Beds throughout the software testing lifecycle <br />
                        Maintaining & Controlling the QA environments across different platforms
                    </p>
                    <p class='ms-3 m-0'>» Custom Testing Services</p>
                    <p>
                        <span class='ms-5 bold'>SDLC phase</span>
                    <p class='ms-5 m-0'>Unit testing , System (component) & Integration Testing , User Acceptance Testing , Operation Acceptance Testing</p>
                    <span class='ms-5 bold'>Specific application characteristics</span>
                    <br />
                    <p class='ms-5 m-0'>
                        Stress / Load testing , Usability Testing , Performance Testing , Security Testing , Compatibility Testing
                    </p>
                    <span class='m-0 ms-5 bold'>Release / rollout</span>
                    <br />
                    <p class='ms-5'>
                        Regression Testing, Localization Testing, Release based Annuity Testing Service.
                    </p>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class=" row flex-md-row-reverse  d-flex align-items-md-center ">

                <div class="col-lg-3 h-auto ms-auto">
                    <img src="~/assets/img/Technology.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-9 pt-4 pt-lg-0">
                    <span class='staff'>? Staff Augmentation</span>
                    <p class='m-0 ms-3'>» Short-term / Long-term Contract Resource Deployment</p>
                    <p class='m-0 ms-3'>» Project Augmentation</p>
                    <p class='ms-3 m-0'>» Technology Areas</p>
                    <p class='ms-5'>
                        • Quality Assurance - Manual & Automation (System Testing,
                        Integration Testing, Regression Testing,  Load Testing) of Applications,
                        Products and IT Infrastructure; with Strong Domain Expertise
                        <br />
                        •IT System Management ? Help Desk/Service Desk, Database Admin,
                        System Admin, Configuration & Change Management, ITSM & ITIL.
                        <br />
                        •Application Development & Support ? Architects, Business Analysts, Project Managers, Microsoft Technologies, Java Technologies, Open Source, Databases, Data Warehousing and BI, Mainframes.
                        • ERP / CRM: PeopleSoft, SAP, Oracle Applications
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class=" row flex-md-row-reverse  d-flex align-items-md-center ">

                <div class="col-lg-3 h-auto ms-auto">
                    <img src="~/assets/img/Staffing.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-9 pt-4 pt-lg-0">
                    <span class='application'>? Application Development & Management (ADM)</span>
                    <br />
                    <p class='ms-4'>
                        » Architecture Consulting
                        <br />
                        » Application Development, Customization , Enhancement and Support <br />
                        » Global Delivery Model (GDM) - Onshore / Offsite / Offshore delivery model
                        <br />
                        » Legacy Migration Services
                        » Enterprise Application Integration Services
                        <br />
                        » Business Intelligence & Data Warehousing
                        <br />
                        » Business Analysis & Documentation
                        <br />
                        » Project Management & Program Management
                        <br />
                        » Business Rules Engine Implementation
                    </p>
                    <span class='enter'>? Enterprise Solutions & Products</span>
                    <br />
                    <p class='ms-4'>
                        » Enterprise Service Oriented Architecture <br />
                        » Enterprise Technology & Infrastructure Architecture & Road Maps <br />
                        » Business Process Analysis & COTS evaluation <br />
                        » Business Process Re-engineering & GAP Analysis <br />
                        » Implementation, Upgrade & Migration, Customization and Support of ERP/CRM (PeopleSoft, Oracle Apps, SAP, etc.) <br />
                        » Enterprise wide Systems Integration
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->


</main><!-- End #main -->

